/* Estilos generales */
body{
    background-color: #608baa;
    margin: 0 auto;
    padding-top: 80px;
    font-family: sans-serif;
}
html {
  scroll-behavior: auto;
  min-height: 100dvh;
}
/* Estilos animados para el fondo */
body::before{
    content: "";
    position: fixed;
    inset: -200%;
    background-image: repeating-linear-gradient(
        135deg,
        rgba(255,255,255,0.08) 0px,
        rgba(255,255,255,0.08) 1px,
        transparent 2px,
        transparent 16px
    );
    animation: moverLineas 40s infinite linear;
    z-index: -1;
    will-change: transform;
}
/* Estilos para el header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: entrada 0.5s ease-out;
}
/* Estilos para la lista de la cabecera */
.lista{
    display: flex;
    flex-direction: row;
    border: 3px solid white;
    border-radius: 20px;
    padding: 0px;
    
}

li{
    color: white;
    list-style: none;
    padding: 20px;
    cursor: pointer;
}
/* Estilos para el contenido principal */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section h1{
    color: white;
    font-size: 90px;
}
.subtitulo{
    color: white;
    font-size: 30px;
    animation: entrada 3s ease-out forwards;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;;
}

.subtitulo,
.redes,
.cv{
    opacity: 0;
    transform: translateY(-20px);
}

.redes{
    display: flex;
    gap: 20px;
    animation: entrada 3s ease-out forwards;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}

.git{
    color: white;
    font-size: 30px;
    transition: transform 0.3s;;
}


.git:hover{
    transform: scale(1.5);
}

.linkeding{
    color: white;
    font-size: 30px;
    transition: transform 0.3s;
}

.linkeding:hover{
    transform: scale(1.5);
}

.cv{
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    animation: entrada 3s ease-out forwards;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}
.curriculum{
    color: inherit;
    text-decoration: none;
}
.cv:hover{
    background-color: white;
    color: #256229;
    transition: background-color 0.3s, color 0.3s;
}

hr{
    margin-top: 160px;
    width: 80%;
    height: 1px;
    border: none;
    background: linear-gradient(
        to right,
        transparent 0%,
        #0048ff,
        transparent 100%
    );
    box-shadow: 0 0 6px rgba(255,255,255,0.4);
}

.descripcion{
    display: flex;
    flex-direction: row;

}
/* Estilos para las animaciones */
@keyframes moverLineas{
    from{
        transform: translate(0, 0);
    }
    to{
         transform: translate(200px, 200px);
    }
}

@keyframes entrada{
    from{
        transform: translateY(-100%);
        opacity: 0;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}